<div class="container1 col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 container2">
		<h1>College E-Talk</h1>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<br><br><br>
				<a href="https://betaqube-e-talk.herokuapp.com/College-E-Talk/login"><p><B>Click here to enter into college E-Talk</B></p></a>
				<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="assets/video.mp4" allowfullscreen>	
                </iframe>
            </div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<img src="assets/E-talk.png" alt="..." class="logo">
			</div>
		</div>	
		<hr>
		<div class="steps col-lg-12 col-md-12 col-sm-12 col-xs-12">
		    <h2>Steps to join in College -E-Talk</h2><hr>
		    <p>Step 1: Student / Staff registration </p>
		    <div class="row">
			    <img src="assets/reg.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="font-size: 20px;font-family: times;color: brown; width: 300px;"><p>bjhsdjbbhcbsjjbdjsbjhdsbjfdhb<br>hjdfbhjfkwjkjfcbkbk</p>
			    </div>
		    </div>  
		    <p>Step 2: Get SignUp with your details and create your E-Talk account </p>
		     <div class="row">
			    <img src="assets/signup.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 "style="font-size: 20px;font-family: times;color: brown;">bjhsdjbbhcbsjjbdjsbjhdsbjfdhbhjdfbhjfkw</p>
		    </div>
		    <p>Step 3: Get Login with your details and get into your E-Talk account </p>
		     <div class="row">
			    <img src="assets/login.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="font-size: 20px;font-family: times;color: brown;">bjhsdjbbhcbsjjbdjsbjhdsb</p>
		    </div>
		    <p>Step 4: Sellect the chart room in which you like to chat. </p>
		     <div class="row">
			    <img src="assets/chat-room.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="font-size: 20px;font-family: times;color: brown;">bjhsdjbbhcbsjjbdj</p>
		    </div>
		    <p>Step 5: Type the message you need to convey on the text box and press enter to send the message. </p>
		     <div class="row">
			    <img src="assets/reg.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="font-size: 20px;font-family: times;color: brown;">bjhsdjbbhcbsjjbdjsbjhdsbjfdhb</p>
		    </div>
		    <p>Step 6: click the uplode button and choose to send the Images and Documents to others. </p>
		     <div class="row">
			    <img src="assets/reg.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="font-size: 20px;font-family: times;color: brown;">bjhsdjbbhcbsjjbdjsbjhdsbjfdhbf</p>
		    </div>
		    <p>Step 7: click the profile option to uplode/change the details of you.  </p>
		     <div class="row">
			    <img src="assets/profile.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="font-size: 20px;font-family: times;color: brown;">bjhsdjbbhcbsjjbdjsbjhdsbjfdhbhjdfbhj</p>
		    </div>
		    <p>Step 8: Use and Enjoy the convergetion </p>
		     <div class="row">
			    <img src="assets/reg.png" class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 300px; width: 500px;margin-bottom: 20px;">
			    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="font-size: 20px;font-family: times;color: brown;">bjhsdjbbhcbsjjbdjsbjhdsbjfdhbh</p>
		    </div>
		    <a href="https://betaqube-e-talk.herokuapp.com/College-E-Talk/login"><p><B>Click</B> here to enter into college E-Talk</p></a>
		    <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="assets/video.mp4" allowfullscreen>	
                </iframe>
            </div>
		</div>
	</div>
</div>