<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container1">
	<div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 container2">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 departments">
			<img src="assets/dpt.jpg">
			<h1>Departments</h1>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dpt" >
				    <div class="row">
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/cse.jpg" class="img-fluid">
				        <p><a href="http://mec.edu.in/cse.aspx">Computer Science Engineering</a></p>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/it.jpg" class="img-fluid"><p><a href="http://mec.edu.in/it.aspx">Information Technology</a></p>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/eee.png" class="img-fluid"><p><a href="http://mec.edu.in/eee.aspx">Electrical and Electronics Engineering</a></p>
				        </div>
			        </div>
			        <div class="row">
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/ece.png" class="img-fluid ece"><p><a href="http://mec.edu.in/ece.aspx">Electronics and Communication Engineering</a></p>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/mech.jpg" class="img-fluid"><p><a href="http://mec.edu.in/mech.aspx">Mechanical Engineering</a></p>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/civil.jpg" class="img-fluid"><p><a href="http://mec.edu.in/chemical.aspx">Civil Engineering</a></p>
				        </div>
			        </div>
			        <div class="row">
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/mba.jpg" class="img-fluid"><p><a href="http://mec.edu.in/mba.aspx">Master Of Business Administration</a></p>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/mca.jpg" class="img-fluid"><p><a href="http://mec.edu.in/mca.aspx">Master Of Computer Applications</a></p>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
				        <img alt="picture" src="assets/bit.jpg" class="img-fluid"><p><a href="http://mec.edu.in/btechnology.aspx">Biotechnology</a></p>
				        </div>
				    </div>
			</div>
		</div>
	</div>
</div>

