<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container1">
  <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 container2">
    <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">College Gallery</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/bg.png" class="img-fluid">
        </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/pls.png" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/hostel.jpg" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/lib.png" class="img-fluid">
        </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/bus.png" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
      </div><div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
      </div><div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 images">
          <img alt="picture" src="assets/E-talk.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>  
</div>  
